@import "bootstrap-sprockets";
@import "bootstrap";
body{
	background-color: #f5f5f1;
	color: #333;
	font-family: Arial, Melvetica, sans-serif;
}

.navbar-default{
	background-color: #efefe8;
}

.navbar-default .navbar-brand{
	
	font-family: guardian-egypt, georgia, serif;
	color: #d5641c;
	font-weight: 400;
	font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
	font-family: Arial, Melvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #0192b5;
}

.col-md-3:nth-child(4n+1){
	clear: left;
}

.alert{
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	z-index: 999;
	font-weight: bolder;
	letter-spacing: 1px;

}

#footer{
	margin-top: 20px;
	left: 10px;
	letter-spacing: 1px;
	bottom: 10px;
	color: #777;
	background-color: #efefef;
}

.jumbotron{
	background-image: url('http://static1.squarespace.com/static/507833d9e4b0721a85bbd16e/t/5329e497e4b0702adad001b6/1395254424820/');
	/*background-image: url('https://dl.dropboxusercontent.com/s/7ixs2h32ax12vw5/jumbotron.jpg?raw=1');*/
	font-family: guardian-egypt, georgia, serif;
	color: #000;
	text-align: center;
	font-weight: bolder;
}