<p id="footer" class="well">Copyright 2015</p>
<script type="text/javascript">
	$(".alert").slideDown().delay(4500).fadeOut("fast");
	// $(".alert-success" ).fadeOut(1000).fadeIn(1000).delay(1000).fadeOut(3000).slideUp(500);
	// $(".alert-danger" ).fadeOut(1000).fadeIn(1000).delay(1000).fadeOut(3000).slideUp(500);
</script>