<p id="footer" class="container-fluid text-muted">Copyright 2015</p>
<script type="text/javascript">
	$(".alert").addClass("animated bounceInUp").delay(5000).queue(
		function() {

			$(this).addClass("bounceOutDown");
			$(this).removeClass("bounceInUp");
		});
	// $(".alert-success" ).fadeOut(1000).fadeIn(1000).delay(1000).fadeOut(3000).slideUp(500);
	// $(".alert-danger" ).fadeOut(1000).fadeIn(1000).delay(1000).fadeOut(3000).slideUp(500);
</script>