<p id="footer" class="well">Copyright 2015</p>
<script type="text/javascript">
	$(".alert").fadeIn(1000).delay(5000).fadeOut(1000);
	// $(".alert-success" ).fadeOut(1000).fadeIn(1000).delay(1000).fadeOut(3000).slideUp(500);
	// $(".alert-danger" ).fadeOut(1000).fadeIn(1000).delay(1000).fadeOut(3000).slideUp(500);
</script>