<p id="footer" class="container text-muted">Copyright 2015</p>
<script type="text/javascript">
	$(".alert").addClass("animated slideInLeft").delay(5500).queue(
		function() {

			$(this).addClass("slideOutLeft");
			$(this).removeClass("slideInLeft");
		});
	// $(".alert-success" ).fadeOut(1000).fadeIn(1000).delay(1000).fadeOut(3000).slideUp(500);
	// $(".alert-danger" ).fadeOut(1000).fadeIn(1000).delay(1000).fadeOut(3000).slideUp(500);
</script>